build
dist
doc/asm/*_words.rst
doc/_build/*
doc/_static/*
doc/_templates/*
msp430/asm/include/upstream
msp430/asm/include/upstream.tar.gz
msp430/asm/include/upstream.tar.bz2
MANIFEST
*.o4
*.titext
examples/asm/*/led.titxt
examples/asm/forth_to_asm/msp430.forth
examples/asm/forth_to_asm/*.S
examples/asm/forth_to_asm/*.s-cpp
examples/asm/forth_to_asm_advanced/msp430.forth
examples/asm/forth_to_asm_advanced/*.S
examples/asm/forth_to_asm_advanced/*.s-cpp
examples/asm/forth_to_asm_advanced/*.map

