include README.txt
include LICENSE.txt
include CHANGES.txt
include MANIFEST.in
include setup.py
recursive-include msp430 *.py *.txt
recursive-include examples *.py *.txt *.S *akefile *.ini *.nsi *.m43 *.forth

include msp430/asm/definitions/*.peripheral
include msp430/asm/forth/*.forth

include scripts/*.py

include doc/*.rst
include doc/*.txt
include doc/conf.py
include doc/Makefile
